#*.*

#!**/*.ps1
*.zip
*.exe
*.ccp
*.msi
*.bat
*.pkg
*.intunewin
*.png
*.log
*.file
*.cab
*.Appx
*.dll
*.bin
*.pbix
*.scr
*.txt
*.pdb
*.xsd
*.config
*.AppxBundle
*.pdf
*.mst

#*.TempPoint.ps1
ProofPoint/Proofpoint Encryption Plug-in for Microsoft Outlook/1.3.9.5/ProofpointEncryptionPlug-inforMicrosoftOutlook_1.3.9.5.TempPoint.ps1
#*/**/Trend/**/CUT.ini
Trend Micro/Office Scan/Uninstall/CUT_v4.8.1_ForOSCE_NonApexOne/CUT.ini
#*/**/TimeClockConverter/**/*.xml
Paylocity/TimeClockConverter/Files/Files/LumenWorks.Framework.IO.xml
Paylocity/TimeClockConverter/Files/Files/Conversion_Config.xml
#*/Appx/**/*
Microsoft/AppX/Reader/Microsoft.Reader_8wekyb3d8bbwe_4c48eb84-ce2f-6c5b-89f4-8319fe492b02.xml
*.rpm
*.lic
*.tar
Google/Chrome/GoogleChromeADMX/**
Mozilla/Firefox/ADMX/**
